.site-header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;

    .site-logo {
        a {
            font-weight: 700;
            font-size: 22px;
            line-height: 1;
            text-transform: uppercase;
            color: $white;
        }
    }
}

.site-nav {
    .nav {
        list-style: none;

        &-submenu,
        &--submenu {
            list-style: none;
            padding: 0;
            margin: 0;
            display: none;
            position: absolute;
            min-width: 150px;

            > li {
                > a {
                    display: block;
                    padding: 10px 15px;
                }

                + li {
                    border-top: 1px solid rgba($black, .1);
                }
            }
        }

        &-submenu {
            border-top: 2px solid $primary;
            background-color: $white;

            > li {
                position: relative;

                > a {
                    border-right: 2px solid transparent;
                }

                &:hover {
                    > a {
                        border-right-color: $primary;
                    }
                }
            }
        }

        &--submenu {
            background-color: $primary;
            left: 100%;
            top: 0;

            > li {
                > a {
                    color: $white;

                    &:hover {
                        background-color: rgba($white, .25);
                    }
                }
            }
        }

        > li {
            > a {
                display: block;
                color: darken($white, 15%);
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 500;
                padding: 30px 15px;
            }

            &:hover {
                > a {
                    color: $white;
                }

                > .nav-submenu {
                    display: block;

                    > li {
                        &:hover {
                            > .nav--submenu {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

.minicart {
    position: relative;

    .minicart-container {
        background-color: $white;
        position: absolute;
        right: 0;
        width: 300px;
        display: none;
        box-shadow: 0 2px 4px rgba($black, .1);
    }

    &:hover {
        .minicart-container {
            display: block;
        }
    }

    h6 {
        color: $primary;
        font-size: 9px;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0;
        padding: 10px 5px 5px;
        text-align: center;
    }

    .minicart-list {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 12px;
        max-height: 150px;
        overflow-y: auto;

        & > li {
            border-top: 1px solid rgba($black, .1);
            border-bottom: 1px solid rgba($black, .1);
            padding: 10px;

            & + li {
                border-top: none;
            }
        }

        .image {
            width: 45px;
            height: 55px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .name {
            line-height: 1;
            
            small {
                display: block;
                font-size: 10px;
                color: $primary;
                margin-top: 2px;
            }
        }

        .price {
            font-size: 10px;
            text-align: right;
        }
    }
}