@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

$headingFont: "Roboto Slab", serif;

$primary:   #2aabe4;
$black:     #000;
$white:     #fff;
$darkgrey:  #2b2b2b;
$text:      #999;
$heading:   #303030;

$fontSizeFields: 14px;